@import "../../variables.scss";

$vertical-padding: $side-padding * 1.2;

.settingsBox {
  width: calc(100vw - $side-padding * 2);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba($white, 0.1);
  margin: 0 $side-padding $side-padding * 1.2;

  .inputItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: 2px solid rgba($white, 0.1);
    }

    .inputText {
      padding: $vertical-padding $side-padding;
      font-size: 1.2em;
      line-height: 1em;
    }

    .numberWrapper {
      margin-right: $side-padding;
      display: flex;
      align-items: center;
      background-color: rgba($nav-background, 0.8);
      border-radius: 0.5em;
      input[type="number"] {
        color: $white;
        font-size: 1.8em;
        line-height: 1.2em;
        font-family: monospace;
        width: 1.2em;
        margin: none;
        padding: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: none;
        border: none;
        outline: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      button {
        font-size: 1.2em;
        line-height: 2em;
        line-height: 1em;
        padding: 0.8em;
        font-family: monospace;
        color: $white;
        background: transparent;
        vertical-align: middle;
        border: none;
        outline: none;
      }
      button:hover,
      button:active,
      button:focus,
      button:focus-visible {
        border: none;
        outline: none;
      }
    }
    .checkboxWrapper {
      padding-right: $side-padding;
    }
    .timeWrapper {
      padding-right: $side-padding;
      input[type="time"] {
        font-size: 1.8em;
        font-family: monospace;
        font-weight: bold;
        color: $soft-white;
        background-color: rgba($nav-background, 0.8);
        border-radius: 0.5em;
        padding: 0.2em 0.4em;
        border: none;
        &:focus {
          outline: none;
          color: $white;
        }
      }
    }
  }
}

@media only print and (prefers-color-scheme: light) {
  .settingsBox {
    border-color: rgba($black, 0.1);
    .inputItem {
      &:not(:first-child) {
        border-color: rgba($black, 0.1);
      }
      .numberWrapper {
        background-color: rgba(invert($nav-background), 0.8);
      }
      .timeWrapper {
        input[type="time"] {
          color: $soft-black;
          background-color: rgba(invert($nav-background), 0.8);
          &:focus {
            color: $black;
          }
        }
      }
    }
  }
}
