@import "./variables.scss";

:root {
  font-family: system-ui, "Helvetica Neue", Inter, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $soft-white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $soft-white;
  text-decoration: inherit;
}
a:hover {
  color: $white;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0 $side-padding;
  text-align: start;
  font-size: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $soft-black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $soft-white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="checkbox"] {
  appearance: none;
  outline: none;
  border: 2px solid $soft-white;
  border-radius: 0.5em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  &:checked {
    background-color: $white;
    border-color: $white;
  }
}

#app {
  margin: 0 auto;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  text-align: center;
  -webkit-overflow-scrolling: touch;
  &.darker {
    opacity: 0.5;
  }
}

@media only print and (prefers-color-scheme: light) {
  :root {
    color: $soft-black;
    background-color: $white;
  }
  a:hover {
    color: $black;
  }
  button {
    background-color: $soft-white;
  }
  button:hover {
    border-color: $soft-black;
  }
  input[type="checkbox"] {
    border-color: $soft-black;
    &:checked {
      background-color: $black;
      border-color: $black;
    }
  }
}
