$black: #000000;
$white: #ffffff;

$soft-transparency: 0.7;
$ghost-transparency: 0.5;
$invisible-transparency: 0.2;

$soft-white: rgba($white, $soft-transparency);
$soft-black: rgba($black, $soft-transparency);

$ghost-white: rgba($white, $ghost-transparency);
$ghost-black: rgba($black, $ghost-transparency);

$invisible-white: rgba($white, $invisible-transparency);
$invisible-black: rgba($black, $invisible-transparency);

$nav-background: #111;

$nav-bar-height: 34px; // without bottom padding.
$nav-bar-padding-bottom: max(10px, env(safe-area-inset-bottom));

$side-padding: 16px;
